@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Inter:wght@200;500;700&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Signika+Negative:wght@600&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Inter:wght@200;500;700&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=REM&family=Rubik+Dirt&family=Signika+Negative:wght@600&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#7d7d7d , #000000);
    padding: 10px;

}
.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'REM', sans-serif;
    
}
.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
}

.row button{
    border: none;
    outline: none;
    padding: 16px;
    background: #8d45ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 800;
}
 ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
 ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #e5e5e5;
    border: 0.5px solid;
    /* background-image: url(); */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}


ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("https://media.istockphoto.com/id/496603666/vector/flat-icon-check.jpg?s=612x612&w=0&k=20&c=BMYf-7moOtevP8t46IjHHbxJ4x4I0ZoFReIp9ApXBqU=");
   

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #edeef0;
}
ul li span:hover{
  
    color: black;
    font-weight: 700;
}