@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Muli';
	margin: 0px 0;
	background-color: #140448;
}
.Main-Container{
	width: 100vw;
}
.navbar {
	display: flex;
	justify-content: space-between;
    align-items: center;
	background-color: white;
	width: 100%;
	position: relative;
    padding: 8px;

}

.navbar p {
	color: black;
	font-size: 25px;



}

#personal-branding {
	position: relative;
	left: 27px;
	font-weight: bolder;
	font-size: 15px;
	cursor: pointer;
}

#project-num {
	margin-left: 23%;
	font-weight: bolder;
	font-size: 27px;
	cursor: pointer;
}

#project-name {
	margin-right: 20%;
	font-weight: bolder;
	font-size: 27px;
	cursor: pointer;
}
#project-sNo {
	border-radius: 0px 16px 16px 0px;
	padding: 3px 20px 3px 25px;
	font-size: 40px;
	border: 2px solid #67dffe;
	position: fixed;
	left: -1%;
    top: 12%;

}

#project-sNo:hover {
	font-size: 42px;
	background-color: #67dffe;
	color: black;
	font-weight: bolder;
	border: 2px solid white;

}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#email{
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* body { */
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") */
    /* center center no-repeat; */
  /* background-size: contain; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* display: grid;
  align-items: center;
  justify-items: center;
  font-family: sans-serif;
  font-weight: 200; */
/* } */
.form-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.container {
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  backdrop-filter: blur(900px);
  padding: 20px;
}
.main{
    width: 60%;
    margin: 0 auto;
}
input[type="submit"] {
  background-color: #f57171;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #f59c91;
}

/* Add a background color and some padding around the form */



 /* get in touch section  */
 .floating-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.floating-container.visible {
    transform: translateX(-10px);
}

.social-media-panel {
    background-color: #3cdbff;
border-radius: 18px 1px 1px 18px;
box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
border: 2px solid #000000;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: "Muli";
position: relative;
height: 235px;
width: 52px;
/* max-width: calc(100% - 10px); */
right: -25%;
}

.social-media-panel button.close-btn {
    border: 0;
    color: #97a5ce;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-media-panel button.close-btn:focus {
    outline: none;
}

.social-media-panel p {
    background-color: #e4f215;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-media-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #ff7500;
    text-decoration: none;
}

.social-media-panel h4 {
    margin: 20px 0;
    color: #97a5ce;
    font-family: "Muli";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media-panel ul li {
    margin: 0 10px;
    list-style: none;
}

.social-media-panel ul li a {
    border: 1px solid #dce1f2;
border-radius: 50%;
color: #000000;
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
height: 35px;
width: 35px;
text-decoration: none;
margin-right: 0px;
margin-bottom: 4px;
}

.social-media-panel ul li a:hover {
    border-color: #ff6a00;
    box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
    border-radius: 11.5px;
    background-color: #e4f215;
    border: 1px solid #001f61;
    box-shadow: 0 16px 22px -17px #03153b;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001f61;
}

.floating-btn:focus {
    outline: none;
}