*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: “Rubik”,sans-serif;
}
body{
    background-color: #140448;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    position: relative;

}
.navbar p{
    color: black;
    font-size: 25px;
    
   
 
}
#personal-branding {
	position: relative;
    left: 27px;
    font-weight: bolder;
    font-size: 15px;
	cursor: pointer;
    font-family: '';
}
#project-num{
	margin-left: 23%;
    font-weight: bolder;
    font-size: 27px;
	cursor: pointer;
    font-family: '';
}
#project-name{
    margin-right: 20%;
	font-weight: bolder;
    font-size: 27px;
	cursor: pointer;
    font-family: '';
}


#project-sNo{
	border-radius: 0px 16px 16px 0px;
    padding: 3px 20px 3px 25px;
    font-size: 40px;
    border: 2px solid #67dffe;
    position: fixed;
    left: -1%;
    top: 23%;

}
#project-sNo:hover{
	font-size: 42px;
    background-color: #67dffe;
    color: black;
    font-weight: bolder;
    border: 2px solid white;

}

.wrapper{
    width: 400px;
    padding: 50px 40px;
    background-color: #fafdfd;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}
span{
    display: block;
    text-align: center;
    margin-top: -30px;
    color:#063f63;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
}
.wrapper p{
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0,139,253,0.28);
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    /* opacity: 0; */
}
.fade{
    opacity: 1;
    transition: opacity 0.1s;
}
button{
    display: block;
    background-color: #03a9ab;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #e7e7ec;
    font-weight: 500;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}